@model IEnumerable<TestQuestionAnswerViewModel>


<div class="test-table-page">
    <div class="panel-heading">        
        <a class="nostyle-link" asp-controller="Test" asp-action="AddTestAnswer" asp-route-questionId="@ViewBag.IdQuestion">
            <div class="button-img">
                <img src="../images/Plus.svg" alt="Добавить ответ">
                <div class="text-img">Добавить ответ</div>
            </div>
        </a>
    </div>

    @if (Model.Any())
    {
        <table class="test-table">
            <tr class="test-table-header">
                <th>Ответ</th>
                <th>Статус</th>
                <th>Актуальность</th>
                <th>Действия</th>
            </tr>
            @foreach (var answer in Model)
            {
                <tr class="test-table-line">
                    <td>@answer.AnswerText</td>
                    <td class="test-status-column">
                        @if (answer.Meaning)
                        {
                            <p>Верный</p>
                        }
                        else
                        {
                            <p>Неверный</p>
                        }
                    </td>
                    <td class="test-status-column">
                        @if (answer.IsActual)
                        {
                            <p>Актуальный</p>
                        }
                        else
                        {
                            <p>Неактуальный</p>
                        }
                    </td>
                    <td class="test-event-column">
                        <a class="nostyle-link" asp-controller="Test" asp-action="EditAnswer" asp-route-answerId="@answer.Id">
                            <img title="Изменить" src="/images/Edit.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="DeleteAnswer" asp-route-answerId="@answer.Id">
                            <img title="Удалить" src="/images/Delete.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="ChangeAnswerStatus" asp-route-answerId="@answer.Id">
                            @if (answer.IsActual)
                            {
                                <img title="Заблокировать" src="/images/Unlock.svg" />
                            }
                            else
                            {
                                <img title="Разблокировать" src="/images/Lock.svg" />
                            }                            
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}