@model IEnumerable<CashTestViewModel>

<div class="cashtest-table">
    <div class="panel-heading">      
        <form method="get" asp-controller="Test" asp-action="AddCashTest">
            <button class="properties-item" type="submit" title="Создать">
                <div class="button-img">
                    <img src="../images/Plus.svg" alt="Статусы">
                    <div class="text-img">Добавить тест</div>
                </div>
            </button>            
        </form>
    </div>

    @if (Model.Any())
    {
        <table class="test-table">
            <tr class="test-table-header">
                <th>Наименование</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            @foreach (var test in Model)
            {
                <tr class="test-table-line" onclick="location.href = '@Url.Action("GetTestTopics", "Test", new { cashTestId = test.Id })'">
                    <td>@test.CashTestName</td>
                    <td class="test-status-column">
                        @if (test.IsActual)
                        {
                            <p>Актуален</p>
                        }
                        else
                        {
                        <p>Неактуален</p>    
                        }
                    </td>
                    <td class="test-event-column">
                        <a class="nostyle-link" asp-controller="Test" asp-action="EditCashTest" asp-route-cashTestId="@test.Id">
                            <img title="Изменить" src="/images/Edit.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="DeleteCashTest" asp-route-cashTestId="@test.Id">
                            <img title="Удалить" src="/images/Delete.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="ChangeCashTestStatus" asp-route-cashTestId="@test.Id">
                            @if (test.IsActual)
                            {
                                <img title="Заблокировать" src="/images/Unlock.svg" />
                            }
                            else
                            {
                                <img title="Разблокировать" src="/images/Lock.svg" />
                            }
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}
