@model IEnumerable<TestQuestionViewModel>


<div class="test-table-page">
    <div class="panel-heading">
        <a class="nostyle-link" asp-controller="Test" asp-action="AddTestQuestion" asp-route-topicId="@ViewBag.IdTopic">
            <div class="button-img">
                <img src="../images/Plus.svg" alt="Добавить вопрос">
                <div class="text-img">Добавить</div>
            </div>
        </a>
    </div>

    @if (Model.Any())
    {
        <table class="test-table">
            <tr class="test-table-header">
                <th>Вопрос</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            @foreach (var question in Model)
            {
                <tr class="test-table-line" onclick="location.href = '@Url.Action("GetAnswers", "Test", new { questionId = question.Id })'">
                    <td>@question.QuestionText</td>
                    <td class="test-status-column">
                        @if (question.IsActual)
                        {
                            <p>Актуален</p>
                        }
                        else
                        {
                            <p>Неактуален</p>
                        }
                    </td>
                    <td class="test-event-column">
                        <a class="nostyle-link" asp-controller="Test" asp-action="EditQuestion" asp-route-questionId="@question.Id">
                            <img title="Изменить" src="/images/Edit.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="DeleteQuestion" asp-route-questionId="@question.Id">
                            <img title="Удалить" src="/images/Delete.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="ChangeQuestionStatus" asp-route-questionId="@question.Id">
                            @if (question.IsActual)
                            {
                                <img title="Заблокировать" src="/images/Unlock.svg" />
                            }
                            else
                            {
                                <img title="Разблокировать" src="/images/Lock.svg" />
                            }
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}