@model List<TestTopicViewModel>

<div class="back-link-conteiner">
    <a class="back-link" asp-controller="Test" asp-action="GetCashTests">    
        <div class="back-link-button">
            К тестам    
        </div>
    </a>
</div>

<div class="test-table-page">
    <div class="panel-heading">        
        <a class="nostyle-link" asp-controller="Test" asp-action="AddTestTopic" asp-route-cashTestId="@ViewBag.IdCashTest">
            <div class="button-img">
                <img src="~/images/Plus.svg" alt="Статусы">
                <div class="text-img">Добавить тему</div>
            </div>
        </a>      
    </div>

    @if (Model.Any())
    {
        <table class="test-table">
            <tr class="test-table-header">
                <th>Тема</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            @foreach (var topic in Model)
            {
                <tr class="test-table-line">
                    <td class="test-name-column" onclick="location.href = '@Url.Action("GetTestQuestions", "Test", new { topicId = topic.Id, cashTestId = ViewBag.IdCashTest })'">@topic.TopicName</td>
                    <td class="test-status-column" onclick="location.href = '@Url.Action("GetTestQuestions", "Test", new { topicId = topic.Id, cashTestId = ViewBag.IdCashTest })'">
                        @if (topic.IsActual)
                        {
                            <p>Актуальна</p>
                        }
                        else
                        {
                            <p>Неактуальна</p>
                        }
                    </td>
                    <td class="test-event-column">
                        <a class="nostyle-link" asp-controller="Test" asp-action="EditTopic" asp-route-topicId="@topic.Id">
                            <img title="Изменить" src="/images/Edit.svg" />
                        </a>                        
                        <a class="Delete_topic nostyle-link" name="@topic.Id">
                            <img title="Удалить" src="/images/Delete.svg" />
                        </a>
                        <a class="nostyle-link" asp-controller="Test" asp-action="ChangeTopicStatus" asp-route-topicId="@topic.Id">
                            @if (topic.IsActual)
                            {
                                <img title="Заблокировать" src="/images/Unlock.svg" />
                            }
                            else
                            {
                                <img title="Разблокировать" src="/images/Lock.svg" />
                            }
                            
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}
@section js {
    <script src="~/js/deletetopic.js" asp-append-version="true"></script>
}