<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>    
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />    
    @RenderSection("css", false)
</head>
<body>
    <header>
        <nav class="site_header">
            <div class="container-fluid">
                <div class="head-logo">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="nav_logo" title="Logo" src="/images/Logo.jpg" />
                </a>                
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                <div class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">                                
                                <form method="get" asp-controller="Home" asp-action="Index">
                                    <button class="nav_button" type="submit" title="На главную">На главную</button>
                                </form>
                        </li>                                                
                            <li class="nav-item">
                                <form method="get" asp-controller="Cash" asp-action="Cash">
                                    <button class="nav_button" type="submit" title="На главную">Касса</button>
                                </form>                                
                            </li>                        
                    </ul>    
                    <div class="nav-exit">
                            <form method="get" asp-controller="Account" asp-action="Logout">
                                <button class="nav_button" type="submit" title="Выход">Выйти</button>
                            </form>
                    </div>
                </div>
                }
            </div>
        </nav>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="footer-container">
            Подвал
        </div>
    </footer>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("js", false)
</body>
</html>
